.urdu {
  font-family: "Noto Nastaliq Urdu Draft";
  font-size: medium;
  direction: rtl;
}

body {
  overflow-y: scroll;
}

#spinner {
  position: absolute;
  top: 40vh;
  right: 40vw;
}

.mymodal {
  font-family: "Noto Nastaliq Urdu Draft";
  direction: ltr;
}

.mymodal-body {
  text-align: right;
}

.mymodal-body-pic {
  padding: 1px;
}

.mymodal-lg {
  width: 98vw;
  max-width: 700px;
}

.mymodal .close {
  color: red !important;
}

.mymodal-title {
  font-size: large !important;
}

.input-text {
  resize: both;
  padding: 7px;
  line-height: 2.2em;
  direction: rtl;
  font-family: "Noto Nastaliq Urdu Draft", "SelawikRegular";
  color: #544949;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  white-space: pre-wrap;
  overflow: auto;
}

.caption {
  text-align: right;
  margin-top: 12px;
  color: #544949;
}

.custom-btn {
  font-size: medium;
  font-weight: 400 !important;
  margin-left: 4px;
  padding-right: 8px !important;
  padding-left: 8px !important;
  padding-bottom: 13px;
}

.custom-dark {
  color: white;
}

.custom-light {
  color: rgb(125, 131, 138) !important;
}

.kufic {
  font-family: "MashqRegular";
  direction: rtl;
  display: inline;
}

.big-logo {
  font-size: 40px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.source-link {
  float: left;
  margin-top: 20px;
  margin-left: 6px;
  display: inline;
}

.btn-source {
  padding: 0px 4px 1px 4px !important;
  font-size: medium;
  font-weight: 200 !important;
  color: #c16756;
  border: 1px solid #c16756;
}

.btn-source:hover {
  color: white;
  background: #c16756;
  border: 1px solid #c16756;
}

.btn-source:focus,
.btn-source:active {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

header {
  min-height: 1px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: right;
  width: 100%;
  background-color: #fcead7;
  color: #c16756;
}

.badge-token {
  background-color: #fcead7 !important;
  color: #9e4e3f !important;
  font-size: medium !important;
  font-weight: 400 !important;
  font-family: "Noto Nastaliq Urdu Draft" !important;
  direction: rtl !important;
  padding: 15px 10px 7px 10px;
}

.token-box {
  padding: 0px 0px 2px 0px;
  margin: 0px;
}

.badge-metername {
  background-color: #c16756 !important;
  font-size: small !important;
  font-family: "Noto Nastaliq Urdu Draft" !important;
  direction: rtl !important;
  padding: 10px;
}

.badge-exception {
  font-size: medium !important;
  font-family: "Noto Nastaliq Urdu Draft" !important;
  direction: rtl !important;
  padding: 10px;
}

.badge-status {
  background-color: #fffbdd;
  font-size: x-large !important;
  font-family: "AnkaCoderNarrowRegular" !important;
  max-width: 1.8em !important;
  min-width: 1.8em !important;
}

.btn-up {
  font-family: "AnkaCoderNarrowRegular" !important;
  font-size: x-large !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.pass {
  color: forestgreen !important;
}

.fail {
  color: red !important;
}

.container {
  width: 100%;
  padding: 0px 12px 0px 12px;
  margin: 0px;
  display: flex;
  overflow-x: auto;
}

.space-above {
  margin-top: 10px;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-bottom: 3px;
}

textarea::-webkit-input-placeholder {
  color: darkgray;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: darkgray;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: darkgray;
}

textarea:-ms-input-placeholder {
  color: darkgray;
}

textarea::placeholder {
  color: darkgray;
}

#example-collapse-text.show {
  position: absolute;
  margin-bottom: 2px;
  text-align: right;
  font-family: "Noto Nastaliq Urdu Draft";
  line-height: 2.2em;
  font-size: smaller;
  padding: 10px;
  right: 40px;
  white-space: normal;
  opacity: 1 !important;
  z-index: 99999;
  background-color: white !important;
  color: #544949;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #fafafa !important;
  min-height: 140px;
  max-width: 480px;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.close-x-box {
  display: inline !important;
  float: left;
}

.close-x {
  color: red !important;
  font-family: "Consolas" !important;
}
